<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}"
>
<div id="wrapper">
    <div class="container-fluid" layout:fragment="content">
        <h2 class="title-header">Thanh lý tài sản</h2>
        <form th:action="@{/assets/sell/{id}(id=${model.asset.id})}" method="post" th:object="${model}">
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right" >Tên tài sản</label>
                <div class="col-md-4">
                    <label type="text" th:text="${model.asset.name}" class="form-control"></label>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right" >Giá mua</label>
                <div class="col-md-4">
                    <label type="text" th:text="${model.asset.price}" class="form-control"></label>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right" >Giá bán</label>
                <div class="col-md-4">
                    <input type="text"  required autofocus="autofocus" name="newPrice" class="form-control" min="1" maxlength="255">
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right" >Ghi chú</label>
                <div class="col-md-4">
                    <textarea class=" form-control"  required autofocus="autofocus" name="note" minlength="6" rows="3">
                    </textarea>
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right" >Người mua</label>
                <div class="col-md-4">
                    <input type="text" name="person"  required autofocus="autofocus" class="form-control" min="6" maxlength="255">
                </div>
            </div>
            <div class="form-group row">
                <label  class="col-md-4 col-form-label text-md-right" >Số điện thoại</label>
                <div class="col-md-4">
                    <input type="text" id="full_name"  required autofocus="autofocus" class="form-control" name="phoneNumber">
                </div>
            </div>

            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Thanh lý
                </button>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->

</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</html>