<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout.html}"
>
<div id="wrapper">
    <div class="container-fluid" layout:fragment="content">
        <h6 class="title-header">Chỉnh sửa phòng ban</h6>
        <form class="user" th:action="@{/departments/edit/{id}(id=${model.id})}" method="post" th:object="${model}">
            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">ID</label>
                <div class="col-md-4">
                    <input type="text" th:field="*{id}"  class="form-control" disabled="disabled">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 col-form-label text-md-right">Tên danh mục tài sản</label>
                <div class="col-md-4">
                    <input type="text" th:field="*{departmentName}"  required autofocus="autofocus" class="form-control" min="1" maxlength="255">
                    <span th:if="${#fields.hasErrors('departmentName')}" th:errors="*{departmentName}"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Cập nhật
                </button>
            </div>
        </form>
    </div>
    <!-- /.container-fluid -->

</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
</html>
